<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.customer.mapper.CustomerMapper">

    <select id="selectById" resultType="java.util.Map">
        SELECT * FROM customer
    </select>

    <insert id="insertCustomer">
        INSERT INTO customer (name, address, phone, email, created_by, updated_by)
        VALUES ('jihwan', '123 Main St, Anytown USA', '123-456-7890', 'jihwan.doe@example.com', 'admin', 'admin')
    </insert>

</mapper>